<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<bean class="com.betterjr.common.service.SpringContextHolder" />
	<import resource="scf-dubbo-consumer.xml" />

	<!-- 扫描spring注解 -->
	<context:component-scan
		base-package="
		com.betterjr.modules.product;
		com.betterjr.modules.credit;
		com.betterjr.modules.repayment;
		com.betterjr.modules.enquiry;
		com.betterjr.modules.test">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>


	<!-- spring redis data <bean class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration"/> 
		<bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" 
		p:host-name="192.168.2.49" p:port="6379" /> <bean id="stringRedisSerializer" 
		class="org.springframework.data.redis.serializer.StringRedisSerializer"/> 
		<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate" 
		p:key-serializer-ref="stringRedisSerializer" p:hash-key-serializer-ref="stringRedisSerializer" 
		p:value-serializer-ref="stringRedisSerializer" p:hash-value-serializer-ref="stringRedisSerializer" 
		p:connection-factory-ref="jedisConnectionFactory"/> -->

	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="300" />
		<property name="maxTotal" value="60000" />
		<property name="testOnBorrow" value="true" />
	</bean>

	<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
		<constructor-arg index="0" ref="jedisPoolConfig" />
		<constructor-arg index="1" value="192.168.2.49" type="String" />
		<constructor-arg index="2" value="6379" type="int" />
	</bean>

	<bean id="shiroRedisManager" class="com.betterjr.common.security.shiro.cache.RedisManager">
		<property name="jedisPool" ref="jedisPool" />
	</bean>

	<import resource="spring-context-shiro.xml" />
</beans>